.wp_i_am{
  width: 100%;
  color: #aab3bb;
}
.wp_i_am a {
  text-decoration: none;
  color: #aab3bb;
}

.wp_i_am section {
  width: 100%;
  background: #fff;
  position: relative;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.wp_i_am section header {
  width: 100%;
  height: 250px;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}
.wp_i_am section header .avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  bottom: -62px;
  left: 50%;
  margin-left: -62px;
  border: 4px solid white;
}
.wp_i_am section header .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.wp_i_am section .info {
  text-align: center;
}
.wp_i_am section .info h2 {
  margin: 15px 0 0;
  color: #ff2d55;
  font: bold 26px/1 "Raleway", sans-serif;
}
.wp_i_am section .info p {
  margin: 10px 0 10px;
}
.wp_i_am section .info a {
  font-weight: bold;
}
.wp_i_am section .social-icons {
  margin: 20px 0 25px;
  text-align: center;
}
.wp_i_am section .social-icons a {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  display: inline-block;
  color: #fff;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.wp_i_am section .social-icons a:hover {
  text-decoration: none;
  opacity: .7;
}
.wp_i_am section .social-icons a.fa:before {
  padding: 8px 15px;
  background: #444;
  border-radius: 5px;
  width: 44px;
  font-size: 1.2em;
  display: block;

}
.wp_i_am section .social-icons a.fa-twitter:before{background: #0096FF;}
.wp_i_am section .social-icons a.fa-facebook:before{background: #3B5998;}
.wp_i_am section .social-icons a.fa-google-plus:before{background: #dd4b39;}

 
.wp_i_am .copyrights {
  text-align: center;
  text-transform: capitalize;
  margin: 50px;
}
.wp_i_am .copyrights a {
  color: #f67878;
}